/* Ipad width is 768px */

.Input {
    margin: auto;
    width: 40%;
    border: 1px solid blue;
    background: #99CCFF;
    border-radius: 70px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.Input-screen {
    margin: 20px auto 20px auto;
    width: 75%;
    height: 6rem;
    background: white;
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
}

.Input-buttons {
    margin: auto;
    width: fit-content;
    /* border: 1px solid orange; */
}

.Input-next {
    margin: auto;
    width: fit-content;
    padding-top: 1rem;
}

.Input-buttons-btn {
    width: 8rem;
    height: 5rem;
    font-size: 4rem;
    margin: 4px;
    background-color: #b3b3b3;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    outline: none;
}

.Input-buttons-btn-clear {
    background-color: #FF6666;
    color: white;
    font-weight: 600;
}

.Input-buttons-btn-negative {
    position: relative;
    top: -5px;
}

.Input-start {
    margin: auto;
    margin-top: 1.5rem;
    width: fit-content;
}

.Input-startBtn {
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #b3b3b3;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

.Input-nextBtn {
    width: 28rem;
    height: 4rem;
    font-size: 3rem; 
    text-transform: uppercase;
    background-color: #b3b3b3;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FF6666;
    color: white;
    outline: none;
}

.Input-problem {
    margin-left: 29%;
}

.Input-problemText {
    font-size: 2.5rem;
}